.wrapper {
	margin: 20px;
	border: 3px solid #5f9ea0;
	border-radius: 10px;
	width: 250px;
	height: 390px;
}

.b-name {
	background-color: #5f9ea0;
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
	height: 35px;
	text-align: right;
	padding: 7px;
	color: #fff;
	font-weight: bold
}

.b-input {
	width: 100%;
	padding: 10px 5px 8px 5px;
}

.b-input__field {
	outline: none;
	box-sizing: border-box;
	width: 96%;
	height: 35px;
	border: 3px solid #5f9ea0; 
	border-radius: 5px;
	text-align: right;
	font-size: 1.5rem;
	color: #5f9ea0;
/*	font-weight: 600;*/
}

.some-block {
	width: 33%;
	height: 30px;
	background-color: #5f9ea0;
	float: right; 
	margin-right: 10px;
}

.b-buttons {
	margin-top: 40px;
	clear: both;
	padding: 5px;
	font-size: 0;
}
.button {
	cursor: pointer;
	font-size: 1.3rem;
	color: #5f9ea0;
	margin: 5px;
	text-align: center;
	padding-top: 10px;
	display: inline-block;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	border: 3px solid #5f9ea0; 
	border-radius: 10px;
}

.button:hover {
	background-color: #5f9ea0;
	color: #fff;
}

.button:active {
	opacity: 0.7;
}